

.item-box {

    display: flex;

    height: 60vh;
    width: 90%;

    margin: 0 auto;

}

.empty-text {
    width: 600px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;

}

